In [1]:
import numpy as np
import pandas as pd
import os

### loading category_sales table

In [2]:
data = pd.read_csv(r'C:\\Users\\vdaliparthy\\Downloads\\practice_problem\\practice_problem_Fall_2019\\category_sales.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 9 columns):
str_id              1440 non-null int64
month_key           1440 non-null int64
running_sales       1416 non-null float64
sportswear_sales    1440 non-null float64
training_sales      1440 non-null float64
bball_sales         1440 non-null float64
tennis_sales        1440 non-null float64
skate_sales         1440 non-null float64
cleate_sales        1440 non-null float64
dtypes: float64(7), int64(2)
memory usage: 101.4 KB

### finding out whether null values exist in the column or not

In [4]:
pd.isnull(sum(data['running_sales']))

True

### filling the null values based on the str_id using mean and groupby condition

In [5]:
data['running_sales'] = data['running_sales'].fillna(data.groupby('str_id')['running_sales'].transform('mean'))

In [6]:
pd.isnull(sum(data['running_sales']))

False

In [7]:
print(data['running_sales'])

0       500988.54340
1       802806.06890
2       795011.77030
3       642108.00860
4       460465.44510
            ...
1435     55595.87159
1436     64041.38862
1437    114249.21983
1438    114249.21983
1439    114249.21983
Name: running_sales, Length: 1440, dtype: float64

In [8]:
data[177:178]

,str_id,month_key,running_sales,sportswear_sales,training_sales,bball_sales,tennis_sales,skate_sales,cleate_sales
177,5,34,518861.962521,558792.9655,367078.9367,243815.6723,3595.315566,25357.88476,18161.59117